.appbarLinks {
    color: #ff4081 !important;
    text-decoration: none;
    text-transform: inherit;
}

.link {
    color: white;
    text-decoration: none;
    text-transform: inherit;
}

.menu-link {
    color: yellow !important;
    text-decoration: none;
    text-transform: inherit;
    /*margin: 12px;*/
}

.notifications {
    margin: 10px;
}